<p id="notice"><%= notice %></p>

<h1>Municipes</h1>

<%= search_form_for @filter do |f| %>
    <%= f.label I18n.t('municipe.full_name') %>
    <%= f.search_field :full_name, class: "col-3" %>
    <%= f.submit %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= I18n.t('municipe.full_name') %></th>
      <th>Cpf</th>
      <th>Cns</th>
      <th>Email</th>
      <th><%= I18n.t('municipe.birth_date') %></th>
      <th><%= I18n.t('municipe.birth_date') %></th>
      <th>Status</th>
      <th><%= I18n.t('action') %></th>
    </tr>
  </thead>

  <tbody>
    <% @object.each do |municipe| %>
      <tr>
        <td><%= municipe.full_name %></td>
        <td><%= municipe.cpf %></td>
        <td><%= municipe.cns %></td>
        <td><%= municipe.email %></td>
        <td><%= municipe.birth_date %></td>
        <td><%= municipe.telephone %></td>
        <td><%= I18n.t("municipe.#{municipe.status}") %></td>
        <td><%= link_to I18n.t('show'), municipe, class: 'btn btn-outline-success btn-sm' %> | <%= link_to I18n.t('edit'), edit_municipe_path(municipe), class: 'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('municipe.new_municipe'), new_municipe_path, class: 'btn btn-primary btn-dark' %>
