<p id="alert alert-success text-success"><%= notice %></p>

<%= render 'search' %>

<br>

<h1><%= t('activerecord.municipe') %></h1>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('municipe.full_name') %></th>
      <th><%= t('municipe.cpf') %></th>
      <th><%= t('municipe.cns') %></th>
      <th><%= t('municipe.email') %></th>
      <th><%= t('municipe.birth_date') %></th>
      <th><%= t('municipe.telephone') %></th>
      <th>Status</th>
      <th><%= t('action') %></th>
    </tr>
  </thead>

  <tbody>
    <% @municipe.each do |municipe| %>
      <tr>
        <td><%= municipe.full_name %></td>
        <td class='cpf'><%= municipe.cpf %></td>
        <td class='cns'><%= municipe.cns %></td>
        <td><%= municipe.email %></td>
        <td><%= municipe.birth_date.strftime('%d/%m/%Y') %></td>
        <td class='tel'><%= municipe.telephone %></td>
        <td><%= t(municipe.status, scope: 'municipe.status') %></td>
        <td>
          <%= link_to municipe,  class: 'text-success size-icon' do %>
            <i class="fa-regular fa-eye"></i>
          <% end %>

          <%= link_to edit_municipe_path(municipe), class: 'text-info size-icon' do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('municipe.new_municipe'), new_municipe_path, class: 'btn btn-dark mb-3' %>
