<%= form_with(model: @address, local: true) do |form| %>
  <%#= render 'component/simples_form_errors', object: form.object %>
  
  <div class="row">
    <div class="col-4">
      <%= form.label :cep %>
      <%= form.text_field :cep, id: 'cep', class: 'form-control' %>
    </div>
    <div class="col-4">
      <%= form.label I18n.t('address.public_place') %>
      <%= form.text_field :public_place, id: 'public_place', class: 'form-control' %>
    </div>
    <div class="col-4">
      <%= form.label I18n.t('address.complement') %>
      <%= form.text_field :complement, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= form.label I18n.t('address.neighborhood') %>
      <%= form.text_field :neighborhood, id: 'neighborhood', class: 'form-control' %>
    </div>
    <div class="col-3">
      <%= form.label I18n.t('address.city') %>
      <%= form.text_field :city, id: 'city', class: 'form-control' %>
    </div>
    <div class="col-3">
      <%= form.label :uf %>
      <%= form.select :uf, options_for_select([ "CE", "RJ" ]), {}, class: 'form-control' %>
    </div>
    <div class="col-3">
      <%= form.label I18n.t('address.ibge_code') %>
      <%= form.text_field :ibge_code, id: 'ibge_code' , class: 'form-control' %>
    </div>
  </div>

  <br/>
<% end %>
